body {
    padding: 0;
    margin: 0;

}

a {
    text-decoration: none;
}

h1 {
    color: white;
}


header {
    width: 100%;
}

.head {
    background-color: #3E37A6;
    height: 136px;
    
    display: flex;
    justify-content: space-around;
}

.logo_block{
    display: flex;
    justify-content: center;
}

.head_feedback_link, .logo_block {
    width: 310px;
}


.head_text {
    margin-top: 28px;
    white-space: nowrap;
    font-size: 36px;
    text-align: center;
}

.head_text span {
    display: block;
}

.head_feedback {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
   
    width: 233px;
    height: 58px;
    margin-top: 40px;
    white-space: nowrap;
    font-size: 36px;
    text-align: center;

    border: 3px solid #FFFFFF;
    border-radius: 20px;
}

.head_feedback span {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

.head_menu {
    background-color: #C4D6F1;
    height: 68px;
}

.menu {
    margin-top: 0px;
    position: relative;
    top: 24px;
    font-size: 20px;
    text-align: center;
}

.menu a {
    color:black;
    text-align: center;
    padding: 10px 35px;
    transition: all 0.2s;

}

.menu a:hover {
    border-bottom: 1px solid black;   
}

.authors {
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.authors_title {
    margin-top: 53px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 39px;
    text-align: center;
    top: 80px;

    color: #090274;
}

.authors_main {
    margin-top: 53px;
    margin-bottom: 7%;
    margin-left: 11.5%;
    margin-right: 11.5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 114px;
}

.authors_leftpart_img {
    width: 475px;
    height: 442px;
    background: #7A7A7A;  
}



.authors_rightpart{
    width: 50%;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    /* or 125% */

    text-align: justify;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.authors_rightpart span {
    display: block;
}

.authors_requirements {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    /* or 139% */

    text-align: center;

    color: #090274;
}

.authors_requirements span {
    display: block;
}
.authors_requirements2 {
    display: none;
}

.authors_icons {
    margin-top: 53px;
    margin-bottom: 7%;
    margin-left: 11.5%;
    margin-right: 11.5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 114px;
}

.icon_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 10px;

}

.icon_img {
    width: 130px;
    height: 130px;
}

.icon_text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    /* or 167% */

    text-align: center;

    color: #090274;

}

footer {
    
    border-top: 7px solid #FFFFFF;
    background-size: cover;
    background-color: #201C58;   
 }

.footer {
    background-color: #201C58;
    height: 136px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.footer_links {
    margin-top: 40px;
    width: 310px;
    font-weight: 400;
    font-size: 8px;
    line-height: 8px;
    color: #FFFFFF;
}

.footer_links_text {
    text-align: right;
}
.footer_links_text1 {
    margin-top: 5%;
    text-align: right;
}

.footer_links2 {
    display: none;
}

.block {
    display: none;
}
.header_burger {
    display: none;
}

@media screen and (max-width:1024px) {
    
    
    .block {
        display: block;
        width: 200px;
    }
    
    
    .head_text {
        margin-right: 60px;
        margin-top: 35px;
        white-space: nowrap;
        font-size: 30px;
        text-align: center;
    }
    
    .head_text span {
        display: block;
    }
    
    .head_feedback, .head_feedback_link{
        display: none;
    }

    .footer_links {
        display: none;
    }

    .footer_links2 {
        display: block;
        margin-top: 40px;     
        width: 100%;
        font-weight: 400;
        font-size: 12px;
        line-height: 8px;
        color: #FFFFFF;
        margin-left: 5%;
        
    }

    .footer_links_text {
        text-align: left;
    }

    .footer_links_text1 {
        margin-top: 5%;
        margin-right: 10%;
        padding-bottom: 15px;

        text-align: right;
    }

    .authors_main {
        flex-direction: column;
        gap: 70px;
    }

    .authors_rightpart{
        width: 70%;
    }
}

@media screen and (max-width:768px) {
    .head {
        
        justify-content: space-between;  
    }
    
    .logo_block {
        width: 160px;
    }
    
    .block {
        display: block;
        width: 95px;
    }
    
    
    .head_text {
        margin-right: 60px;
        margin-top: 35px;
        white-space: nowrap;
        font-size: 30px;
        text-align: center;
    }
    
    .head_text span {
        display: block;
    }
    
    .head_feedback, .head_feedback_link{
        display: none;
    }
    
    
    .header_burger {
        display: block;
        position: relative;
        top: 65px;
        right: 15px;
        width: 20px;
        height: 15px;
        
        margin-right: 10px;

        z-index: 50;
    }

    .header_burger::after,
    .header_burger::before {
        content: "";
        position: absolute;
        left: 0;
        height: 2px;
        width: 100%;

        background-color: white;
        transition: all 0.5s;
    }

    .header_burger span {
        position: absolute;
        background-color: white;
        width: 100%;
        height: 2px;
        left: 0;
        top: 6.5px;

        transition: all 0.5s;
    }

    .header_burger::after {
        bottom: 0;
    }

    .header_burger::before {
        top: 0;
    }

    .header_burger.active::before{
        transform: rotate(45deg);
        top: 6.5px;
    }

    .header_burger.active::after{
        transform: rotate(-45deg);
        bottom: 6.5px;
    }

    .header_burger.active span{
        transform: scale(0);
    }

    .head_menu {
        
        position: absolute;
        top: 0;
        right: 0;
    
        width: auto;
        height: auto;
        background: none;

    }
    
    .menu {
        position: fixed;
        padding-top: 150px;
        width: 30%;
        top: 0;
        right: -50%;
        background-color: #C4D6F1;

        height: 100%;

        display: flex;
        flex-direction: column;
        gap: 20px;

        z-index: 10;

        transition: all 0.5s ease 0s;
    }

    .menu.active{
        right: 0;
    }

    .authors_main {
        flex-direction: column;
        gap: 50px; 
    }
    .authors_rightpart {
        width: 80%;
        overflow: auto;
        height:200px;
        padding: 0 15px;
        
    }


    .authors_icons {
        flex-direction: column;
    }
    .authors_requirements2 {
        display: block;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        width: 80%;
        margin-top: 20px;
        /* or 139% */

        text-align: center;

        color: #090274;
    }

    .authors_requirements2 {
        display: block;
    }
    .authors_requirements  {
        display: none;
    }  
}

@media screen and (max-width: 430px) {
    .footer_links_text1 {
        margin-top: 10%;
    }
    
    .authors_leftpart_img {
        width: 268.665px;
        height: 250px;
    }

    .menu.active {
        right: 270px;
    }
}

@media screen and (max-width: 376px) {
    .menu.active {
        right: 300px;
    }
}

@media screen and (max-width: 321px) {
    .menu.active {
        right: 350px;
    }
}