body {
    padding: 0;
    margin: 0;

}

a {
    text-decoration: none;
}

h1 {
    color: white;
}


header {
    width: 100%;
}

.head {
    background-color: #3E37A6;
    height: 136px;
    
    display: flex;
    justify-content: space-around;
}


.logo_block{
    display: flex;
    justify-content: center;
}

.head_feedback_link, .logo_block {
    width: 310px;
}


.head_text {
    margin-top: 28px;
    white-space: nowrap;
    font-size: 36px;
    text-align: center;
}

.head_text span {
    display: block;
}

.head_feedback {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
   
    width: 233px;
    height: 58px;
    margin-top: 40px;
    white-space: nowrap;
    font-size: 36px;
    text-align: center;

    border: 3px solid #FFFFFF;
    border-radius: 20px;
}

.head_feedback span {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

.head_menu {
    background-color: #C4D6F1;
    height: 68px;
}

.menu {
    margin-top: 0px;
    position: relative;
    top: 24px;
    font-size: 20px;
    text-align: center;
}

.menu a {
    color:black;
    text-align: center;
    padding: 10px 35px;
    transition: all 0.2s;

}

.menu a:hover {
    border-bottom: 1px solid black;   
}

.contacts {
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.contacts_title {
    margin-top: 53px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 39px;
    text-align: center;
    top: 80px;

    color: #090274;
}

.contacts_main {
    margin-top: 53px;
    margin-bottom: 7%;
    margin-left: 11.5%;
    margin-right: 11.5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 91px;
}

.contacts_leftpart {
    width: 454px;
    height: 609px;
    left: 0px;
    top: 0px;

    background: #201C58;
    border-radius: 80px;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 28px;
}

.contacts_leftpart_title {
    text-align: center;
    margin-top: 10%;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;

    color: #FFFFFF;
}

.contacts_info {
    margin-left: 5%;
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 28px;
    width: 401px;
    height: 92px;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.contacts_number_messenger {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 28px;
}

.contacts_number {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 13px;
}
 /*проблема: не  изменяется расстояние между иконками*/
/* .contacts_messenger {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    gap: 300px;

    height: 36px;
    
} */

.middle {
    /* transform: translateY(-50%); */
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1px;

  }
  
  .btn {
    display:inline-block;
    width:50px;
    height:50px;
    background: #f1f1f1;
    margin: 10px;
    border-radius: 100%; 
    overflow: hidden;
    position: relative;
    transition: 0.3s linear;
  }
  
  .btn i {
    line-height: 50px;
    font-size: 30px;
    transition: 0.3s linear;
  }
  
  .btn:nth-child(1) i {
    color:#25D366;
  }
  
  .btn:nth-child(2) i {
    color:#1da1f2;
  }
  
  .btn:nth-child(3) i {
    color:#c32aa3;
  }
  
  .btn:hover {
    transform: scale(1.1);
  }
  
  .btn:hover i {
    transform: scale(1.2);
    color: #fff;
  }
  
  .btn:before {
    content:"";
    position:absolute;
    width:120%;
    height:120%;
    transform: rotate(45deg);
    left: -110%;
    top:90%;
  }
  
  .btn:nth-child(1)::before {
    background: #25D366;
  }
  
  .btn:nth-child(2)::before {
    background: #1da1f2;
  }
  
  .btn:nth-child(3)::before {
    background: #c32aa3;
  }
  
  .btn:hover::before {
    animation: aaa 0.7s 1;
    top: -10%;
    left: -10%;
  }
  
  @keyframes aaa {
    0% {
      left: -110%;
      top:90%;
    }
    50% {
      left:10%;
      top: -30%;
    }
    100% {
      left: -10%;
      top: -10%;
    }
  }


.contacts_phone_mail {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;

    color: #FFFFFF;
}

.contacts_rightpart {
    width: 909px;
    height: 609px;
    right: 0px;
    top: 0px;

    background: #201C58;
    border-radius: 80px;
  
}

.send_text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #727272;
    width: 540px;
    margin-bottom: 65px;
}

.send_form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input_forms{
    width: 100%;

    display: flex;
    justify-content: space-between;
}

.formstyle {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.5);
    background-color: #201C58;

    border: none;
    padding: 20px;
    box-sizing: border-box;
}

.form1{
    width: 180px;
    height: 10px;
}


.form3{
    width: 745px;
    height: 100px;
    resize: none;
}

.contacts_rightpart_main {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 65px;
}

.twosegmentblock {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 309px;
}

.twosegment p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.5);
}

.line1 {
    width: 218px;
    border: 0.5px solid #FFFFFF;
}

.onesegment p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.5);
}

.line2 {
    width: 745px;
    border: 0.5px solid #FFFFFF;
}

.container {
    width: 239px;
    height: 55px;
    text-align: center;
}
button {
  outline:none;
  height: 55px;
  text-align: center;
  width: 239px;
  border-radius:80px;
  background: #fff;
  border: 2px solid #C4D6F1;
  color:#201C58;
  letter-spacing: 1px;
  text-shadow:0;
  font:{
    size:20px;
    weight:bold;
  }
  cursor: pointer;
  transition: all 0.25s ease;
  &:hover {
    color:black;
    background: #C4D6F1;
  }
  &:active {
    letter-spacing: 2px;
    letter-spacing: 2px ;
  }
  &:after {
    content:"Отправить";
  }
}
.onclic {
  width: 40px;
  border-color:gray;
  border-width:3px;
  font-size:0;
  border-left-color:green;
  animation: rotating 2s 0.25s linear infinite;

  &:after {
    content:"";
  }
  &:hover {
    color:black;
    background: #C4D6F1;
  }
}
.validate {
  font-size:20px;
  color: white;
  background: green;
  &:after {
    font-family:'FontAwesome';
    content:"\f00c";
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

footer {
    
    border-top: 7px solid #FFFFFF;
    background-size: cover;
    background-color: #201C58;   
 }

.footer {
    background-color: #201C58;
    height: 136px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.footer_links {
    margin-top: 40px;
    width: 310px;
    font-weight: 400;
    font-size: 8px;
    line-height: 8px;
    color: #FFFFFF;
}

.footer_links_text {
    text-align: right;
}

.footer_links_text1 {
    margin-top: 5%;
    text-align: right;
}

.block {
    display: none;
}

.footer_links2 {
    display: none;
}

.header_burger {
    display: none;
}

@media screen and (max-width:1440px){
    .contacts_rightpart{
        width: 850px;
    }
}

@media screen and (max-width:1024px) {
    
    
    .block {
        display: block;
        width: 200px;
    }
    
    
    .head_text {
        margin-right: 60px;
        margin-top: 35px;
        white-space: nowrap;
        font-size: 30px;
        text-align: center;
    }
    
    .head_text span {
        display: block;
    }
    
    .head_feedback, .head_feedback_link{
        display: none;
    }

    .footer_links {
        display: none;
    }

    .footer_links2 {
        display: block;
        margin-top: 40px;     
        width: 100%;
        font-weight: 400;
        font-size: 12px;
        line-height: 8px;
        color: #FFFFFF;
        margin-left: 5%;
        
    }

    .footer_links_text {
        text-align: left;
    }

    .footer_links_text1 {
        margin-top: 5%;
        margin-right: 10%;
        padding-bottom: 15px;

        text-align: right;
    }

    .contacts_main {
        flex-direction: row;
    }

    .contacts_rightpart, .contacts_leftpart {
        width: 454px;
        height: 630px;
    }

    .twosegmentblock {
        flex-direction: column;
        gap: 30px;
    }

    .contacts_rightpart_main {
        gap: 30px;
    }
    
    .line2 {
        width: 218px;
        border: 0.5px solid #FFFFFF;
    }
    .form3{
        width: 218px;
        height: 100px;
    }
}

@media screen and (max-width:768px) {
    .head { 
        justify-content: space-around;  
    }
    
    .logo_block {
        width: 160px;
    }
    
    .block {
        display: block;
        width: 95px;
    }
    
    
    .head_text {
        margin-right: 60px;
        margin-top: 35px;
        white-space: nowrap;
        font-size: 30px;
        text-align: center;
    }
    
    .head_text span {
        display: block;
    }
    
    .head_feedback, .head_feedback_link{
        display: none;
    }
    
    
    .header_burger {
        display: block;
        position: relative;
        top: 65px;
        right: 15px;
        width: 20px;
        height: 15px;
        
        margin-right: 10px;

        z-index: 50;
    }

    .header_burger::after,
    .header_burger::before {
        content: "";
        position: absolute;
        left: 0;
        height: 2px;
        width: 100%;

        background-color: white;
        transition: all 0.5s;
    }

    .header_burger span {
        position: absolute;
        background-color: white;
        width: 100%;
        height: 2px;
        left: 0;
        top: 6.5px;

        transition: all 0.5s;
    }

    .header_burger::after {
        bottom: 0;
    }

    .header_burger::before {
        top: 0;
    }

    .header_burger.active::before{
        transform: rotate(45deg);
        top: 6.5px;
    }

    .header_burger.active::after{
        transform: rotate(-45deg);
        bottom: 6.5px;
    }

    .header_burger.active span{
        transform: scale(0);
    }

    .head_menu {
        
        position: absolute;
        top: 0;
        right: 0;
    
        width: auto;
        height: auto;
        background: none;

    }
    
    .menu {
        position: fixed;
        padding-top: 150px;
        width: 30%;
        top: 0;
        right: -50%;
        background-color: #C4D6F1;

        height: 100%;

        display: flex;
        flex-direction: column;
        gap: 20px;

        z-index: 10;

        transition: all 0.5s ease 0s;
    }

    .menu.active{
        right: 0;
    }

    .contacts_main {
        flex-direction: column;
    }

    .contacts_rightpart {
        width: 454px;
        height: 630px;
    }

    .twosegmentblock {
        flex-direction: column;
        gap: 30px;
    }

    .contacts_rightpart_main {
        gap: 30px;
    }
    
    .line2 {
        width: 218px;
        border: 0.5px solid #FFFFFF;
    }

    .head_text::after,
    .logo_block::before {
        transition: all 0.5s;
    }
   
    .head_text.active, .logo_block.active{
        display: none;
        transition: all 0.5s ease 0s;
    }
    
}


@media screen and (max-width: 650px) {
    .contacts_leftpart, .contacts_rightpart {
        width: 300px;
        height: 500px;
    }

    .contacts_leftpart_title {
        font-size: 20px;
    }

    .contacts_info {
        margin-left: 5%;

        width: 260px;
        height: 92px;
    
        flex: none;
        order: 1;
        flex-grow: 0;
    }
    
    .form3{
        width: 218px;
        height: 50px;
    }
    
    

    .messenger_img {
        width: 40px;
    }

    .twosegment {
        gap: 1px;
    }
    .twosegmentblock {
        gap: 10px;
    }

    .contacts_rightpart_main {
        gap: 10px;
    }
    
    .sendbutton {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 9px 70px;
        gap: 10px;
    
        width: 80px;
        height: 27px;
    
        background: #FFFFFF;
        border-radius: 80px;
    }
    
    .sendbutton span {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
    
        text-align: center;
    
        color: #090274;
    }
    

    .menu.active {
        right: 20px;
        width: 40%;
    }

    .head_text{
        font-size: 20px;
        text-align: center;
        margin-left: 10%;
        margin-right: 10%;
    }
    .head{
        display: flex;
        text-align: center;
        flex-direction: column;
        height: 100px;
    }
    .logo_block{
        display: none;
    }

    .footer{
        display: flex;
        text-align: center;
        flex-direction: column;
    }
}

@media screen and (max-width: 376px) {
    .menu.active {
        right: 18px;
    }
    .head_text{
        font-size: 20px;
        text-align: left;
        margin-left: 5%;
        margin-right: 40%;
    }
}

@media screen and (max-width: 321px) {
    .menu.active {
        right: 15px;
    }
    .head_text{
        font-size: 18px;
        text-align: left;
        margin-left: 3%;
        margin-right: 40%;
    }
}