body {
    padding: 0;
    margin: 0;

}

a {
    text-decoration: none;
}

.headerall {    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;

    position: sticky;
    width: 1920px;
    height: 205px;
}

.bannerlink {
        height: 100%;
}

.headerbanner {
    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 200px;
    gap: 223px;

    width: 1920px;
    height: 136px;

    background: #3E37A6;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.bannerlogo {
    
    width: 244px;
    height: 137px;

    background: url(icons\logo.png);

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.texthead {
    
/* Auto layout */

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 24px;
gap: 10px;

width: 585px;
height: 88px;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;

}
.text1 {
    width: 585px;
    height: 88px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    display: flex;
    align-items: flex-end;
    text-align: center;

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}


.bannerfeedback {
    box-sizing: border-box;

    /* Auto layout */
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 24px;
    
    width: 233px;
    height: 58px;
    
    border: 3px solid #FFFFFF;
    border-radius: 20px;
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;

}

.bannerfeedback p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.headermenu {
    width: 1920px;
    height: 69px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    position: sticky;

    background: #C4D6F1;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 40px;

    position: absolute;
    width: 530px;
    height: 25px;
    left: calc(50% - 530px/2);
    top: calc(50% - 25px/2 + 0.2px);
}

.menu a {
    height: 100%;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.menu a p {
    height: 100%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height */


    color: #000000;
}

.block1 {
    position: absolute;
width: 1920px;
height: 783px;
left: 0px;
top: 205px;
color: #D9D9D9;
}

.subblock{
    
/* Auto layout */

display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 53px;

position: absolute;
width: 1559px;
height: 530px;
left: 228px;
top: 285px;
}


.head {
    
    width: 470px;
    height: 35px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    
    color: #090274;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
}

.subsubblock {
    /* Auto layout */

display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 114px;

width: 1559px;
height: 442px;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}

.picture1 {
    
    width: 475px;
    height: 442px;
    
    background: url(a6dd2ce4da4b05c3e78d8bd97b8e9eee.jpg);
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
}

.textsubblock {
    width: 970px;
height: 214px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 25px;
/* or 125% */

text-align: justify;

color: #090274;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}