

body {
    padding: 0;
    margin: 0;

}

a {
    text-decoration: none;
}

h1 {
    color: white;
}


header {
    width: 100%;
}

.header_burger {
    display: none;
}

.head {
    background-color: #3E37A6;
    height: 136px;
    
    display: flex;
    justify-content: space-around;
}

/* Создал новый блок для логотипа и задал ему ширину такуюже как и блоку обратной связи*/

.logo_block{
    display: flex;
    justify-content: center;
}

.head_feedback_link, .logo_block {
    width: 310px;
}


.head_text {
    margin-top: 28px;
    white-space: nowrap;
    font-size: 36px;
    text-align: center;
}

.head_text span {
    display: block;
}

.head_feedback {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
   
    width: 233px;
    height: 58px;
    margin-top: 40px;
    white-space: nowrap;
    font-size: 36px;
    text-align: center;

    border: 3px solid #FFFFFF;
    border-radius: 20px;
}

.head_feedback span {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

.head_menu {
    background-color: #C4D6F1;
    height: 68px;
}

.menu {
    margin-top: 0px;
    position: relative;
    top: 24px;
    font-size: 20px;
    text-align: center;
}

.menu a {
    color:black;
    text-align: center;
    padding: 10px 35px;
    transition: all 0.2s;

}

.menu a:hover {
    border-bottom: 1px solid black;   
}

.about {
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.about_title {
    margin-top: 53px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 39px;
    text-align: center;
    top: 80px;

    color: #090274;
}

/* Убрал width и добавил margin-right: 11.5%;*/

.about_main {
    margin-top: 53px;
    margin-bottom: 7%;
    margin-left: 11.5%;
    margin-right: 11.5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 114px;
}

.about_leftpart_img {
    width: 475px;
    height: 442px;
    background-color: grey;  
}

/* Убрал height*/

.about_rightpart{
    width: 50%;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    /* or 125% */

    text-align: justify;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.about_rightpart_text_begin {
     color: #090274;
}

.scinceproblem {
    background-color: #5F58C4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.scinceproblem_title {
    margin-top: 53px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 39px;
    text-align: center;

    color: #FFFFFF;
}

/* Убрал width и добавил margin-right: 11.5%;*/

.scinceproblem_main {
    margin-top: 53px;
    margin-bottom: 7%;
    margin-left: 11.5%;
    margin-right: 11.5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 114px;
}

/* Убрал height */

.scinceproblem_leftpart{
    width: 50%;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    /* or 125% */

    text-align: justify;
    color: white;
    text-shadow: 0px 4px 4px rgba(84, 83, 83, 0.25);
}

.scinceproblem_rightpart_img {
    width: 475px;
    height: 442px;  
}

.edition {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.edition_title {
    margin-top: 53px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 39px;
    text-align: center;

    color: #090274;
}

.editor_block{
    margin-top: 53px;
    margin-bottom: 3%;
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 114px;
}

.editor_img {
    width: 200px;
    height: 196px;
    background: #7A7A7A;
}

.editor {
    width: 70%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
}

.partners {
    background-color: #201C58;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.partners_title {
    margin-top: 53px;

    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 260px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 39px;
    text-align: center;

    color: #FFFFFF;
}

.line1 {
    width: 300px;
    height: 0;
    padding: 0;
    border: none;
    border-top: 3px solid #FFFFFF;
}

.partners_main {
    margin-top: 100px;
    margin-bottom: 7%;
    margin-left: 26%;
    margin-right: 26%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 490px;
}

.patner_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 28px;
}

/*проблема пока не получается текст по центру выровнять*/
.partner {
    display: block;
    width: 100%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    text-align: center;
    color: #FFFFFF;
}

.partner_img {
    width: 200px;
    height: 196px;
    background: #7A7A7A;
}

footer {
    
    border-top: 7px solid #FFFFFF;
    background-size: cover;
    background-color: #201C58;
    
 }

.footer {
    
    background-color: #201C58;
    height: 136px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.footer_links {
    margin-top: 40px;
    width: 310px;
    font-weight: 400;
    font-size: 8px;
    line-height: 8px;
    color: #FFFFFF;
}

.footer_links_text {
    text-align: right;
}
.footer_links_text1 {
    margin-top: 5%;
    text-align: right;
}

.footer_links2 {
    display: none;
}

.block {
    display: none;
}

@media screen and (max-width:1024px) {
    
    
    .block {
        display: block;
        width: 200px;
    }
    
    
    .head_text {
        margin-right: 60px;
        margin-top: 35px;
        white-space: nowrap;
        font-size: 30px;
        text-align: center;
    }
    
    .head_text span {
        display: block;
    }
    
    .head_feedback, .head_feedback_link{
        display: none;
    }

    .footer_links {
        display: none;
    }

    .footer_links2 {
        display: block;
        margin-top: 40px;     
        width: 100%;
        font-weight: 400;
        font-size: 12px;
        line-height: 8px;
        color: #FFFFFF;
        margin-left: 5%;
        
    }

    .footer_links_text {
        text-align: left;
    }

    .footer_links_text1 {
        margin-top: 5%;
        margin-right: 10%;
        padding-bottom: 15px;

        text-align: right;
    }

    .about_main {
        flex-direction: column;
        gap: 70px;
    }
    .scinceproblem_main {
        flex-direction: column-reverse;
        gap: 70px;
    }

    .about_rightpart, .scinceproblem_leftpart{
        width: 70%;
    }

    .partners_title {
        gap: 100px;
    }
}

@media screen and (max-width:768px) {
    .head {
        
        justify-content: space-between;  
    }
    
    .logo_block {
        width: 160px;
    }
    
    .block {
        display: block;
        width: 95px;
    }
    
    
    .head_text {
        margin-right: 60px;
        margin-top: 35px;
        white-space: nowrap;
        font-size: 30px;
        text-align: center;
    }
    
    .head_text span {
        display: block;
    }
    
    .head_feedback, .head_feedback_link{
        display: none;
    }
    
    
    .header_burger {
        display: block;
        position: relative;
        top: 65px;
        right: 15px;
        width: 20px;
        height: 15px;
        
        margin-right: 10px;

        z-index: 50;
    }

    .header_burger::after,
    .header_burger::before {
        content: "";
        position: absolute;
        left: 0;
        height: 2px;
        width: 100%;

        background-color: white;
        transition: all 0.5s;
    }

    .header_burger span {
        position: absolute;
        background-color: white;
        width: 100%;
        height: 2px;
        left: 0;
        top: 6.5px;

        transition: all 0.5s;
    }

    .header_burger::after {
        bottom: 0;
    }

    .header_burger::before {
        top: 0;
    }

    .header_burger.active::before{
        transform: rotate(45deg);
        top: 6.5px;
    }

    .header_burger.active::after{
        transform: rotate(-45deg);
        bottom: 6.5px;
    }

    .header_burger.active span{
        transform: scale(0);
    }

    .head_menu {
        
        position: absolute;
        top: 0;
        right: 0;
    
        width: auto;
        height: auto;
        background: none;

    }
    
    .menu {
        position: fixed;
        padding-top: 150px;
        width: 30%;
        top: 0;
        right: -50%;
        background-color: #C4D6F1;

        height: 100%;

        display: flex;
        flex-direction: column;
        gap: 20px;

        z-index: 10;

        transition: all 0.5s ease 0s;
    }

    .menu.active{
        right: 0;
    }

    .about_main {
        flex-direction: column;
        gap: 50px; 
    }
    .about_rightpart, .scinceproblem_leftpart {
        width: 80%;
        overflow: auto;
        height:200px;
        padding: 0 15px;
        
    }

    .scinceproblem_main {
        flex-direction: column-reverse;
        gap: 50px;
    }

    .editor_block{
    
        gap: 80px;
    }
    
    .editor_img {
        width: 115.2px;
        height: 101.376px;

    }
    
    .editor {
        width: 70%;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
    }

    .partners_title {
        gap: 104px;
    }
    
    .line1 {
        width: 120px;
    }
    
    .partners_main {
        gap: 196px;
    }
    
    .patner_block {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
        gap: 28px;
    }
    
    /*проблема пока не получается текст по центру выровнять*/
    .partner {
        display: block;
        width: 100%;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 23px;
        line-height: 34px;
        text-align: center;
        color: #FFFFFF;
    }
    
    .partner_img {
        width: 115.2px;
        height: 101.376px;
    }

    .footer_links {
        display: none;
    }

    .footer_links2 {
        display: block;
        margin-top: 40px;     
        width: 100%;
        font-weight: 400;
        font-size: 12px;
        line-height: 8px;
        color: #FFFFFF;
        margin-left: 5%;
        
    }

    .footer_links_text {
        text-align: left;
    }
    .footer_links_text1 {
        margin-top: 5%;
        margin-right: 10%;
        padding-bottom: 15px;

        text-align: right;
    }  
}

@media screen and (max-width: 430px) {
    .footer_links_text1 {
        margin-top: 10%;
    }
    
    .about_leftpart_img {
        width: 268.665px;
        height: 250px;
    }

    .menu.active {
        right: 270px;
    }

    .partners_title {
        gap: 30px;
    }

    .line1 {
        width: 100px;
    }

    .partners_main {
        gap: 80px;
    }

    .editor {
        font-size: 15px;
        line-height: 15px;
    }
    .partners_title, .about_titlem .scinceproblem_title, .edition_title {
        font-size: 15px;
    }
    .editor_block {
        gap: 30px;
    }
    

}

@media screen and (max-width: 376px) {
    .menu.active {
        right: 300px;
    }
    .line1 {
        width: 80px;
    }
}

@media screen and (max-width: 321px) {
    .menu.active {
        right: 350px;
    }

    .partners_main {
        gap: 40px;
    }

    .line1 {
        width: 70px;
    }

    
}










